aniso8601
appdirs
appnope
arrow
attrs
backcall
bcrypt
binaryornot
bleach
certifi
cffi
chardet
Click
cookiecutter
coverage
cycler
decorator
defusedxml
dnspython
entrypoints
eventlet
Flask
Flask-Cors
Flask-JWT-Extended
flask-marshmallow
Flask-RESTful
Flask-SocketIO
future
greenlet
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jinja2-time
json5
jsonschema
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-core==4.6.3
jupyter-nbextensions-configurator==0.4.1
jupyterlab==1.2.6
jupyterlab-server==1.0.0
kiwisolver
lark-parser
MarkupSafe
marshmallow
marshmallow-sqlalchemy
matplotlib
mistune
monotonic
more-itertools
nbconvert
nbformat
nbval
networkx
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pluggy
poyo
prometheus-client
prompt-toolkit
ptyprocess
py
pycparser
Pygments
PyJWT
pyparsing
pyrsistent
pytest
pytest-cov
python-dateutil
python-engineio
python-socketio
pytz
PyYAML
pyzmq
qtconsole
QtPy
requests
Send2Trash
six
SQLAlchemy
termcolor
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
whichcraft
widgetsnbextension
zipp
